#product-tile {
    display: inline-block;
    max-width: 300px;
    border: 1;
    border-radius: 5px;

}

#product-image {
    max-width: 280px;
    margin: auto;
    width: 50%;
}

#product-name, #product-price {
    text-align: center;
}